:root {
    --bs-primary: #007bff; /* Blue */
    --bs-secondary: #6c757d; /* Gray */
    --bs-info: #fd7e14; /* Orange */
  }
  body {
    font-family: 'Roboto', sans-serif;
  }
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
  }

  