{% extends 'base.html' %}

{% block content %}
<style>
    .img-fluid {
        max-width: 35%;
        height: auto;
    }
</style>
<div class="container mt-4">
    <div class="row">
        <div class="col-md-6">
            <img src="{{ product.image.url }}" alt="{{ product.name }}" class="img-fluid">
        </div>
        <div class="col-md-6">
            <h2>{{ product.name }}</h2>
            <p>Price: ${{ product.price }}</p>
            <p>Description: {{ product.description }}</p>
            <form action="{% url 'add_to_cart' product.id %}" method="post">
                {% csrf_token %}
                <label for="color">Color:</label>
                <select name="color" id="color" onchange="updateQuantity()">
                    {% for variant in product.variants.all %}
                        <option value="{{ variant.color }}">{{ variant.get_color_display }}</option>
                    {% endfor %}
                </select>
                <label for="size">Size:</label>
                <select name="size" id="size" onchange="updateQuantity()">
                    {% for variant in product.variants.all %}
                        <option value="{{ variant.size }}">{{ variant.get_size_display }}</option>
                    {% endfor %}
                </select>
                <label for="quantity">Quantity:</label>
                <input type="number" name="quantity" id="quantity" value="1" min="1">
                <button type="submit" class="btn btn-primary">Add to cart</button>
            </form>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col">
            <h3>Features</h3>
            <p>{{ product.features }}</p>
        </div>
    </div>
</div>

<script>
    function updateQuantity() {
        var color = document.getElementById('color').value;
        var size = document.getElementById('size').value;
        var product_id = '{{ product.id }}';
        var url = `{% url 'get_variant_quantity' %}?color=${color}&size=${size}&product_id=${product_id}`;

        fetch(url)
            .then(response => response.json())
            .then(data => {
                console.log('Received quantity:', data.quantity);  // Debugging log
                document.getElementById('quantity').max = data.quantity;
            });
    }

    document.getElementById('color').addEventListener('change', updateQuantity);
    document.getElementById('size').addEventListener('change', updateQuantity);

    // Initial quantity update
    updateQuantity();
</script>

{% endblock %}
